@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@media screen and (min-width: 900px) {
    .container-large-custom {
        min-width: 400px;
        flex: 2;
        margin-left: 100px;
    }

    .container-widgets-custom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1;
    }

    .container-narrow-custom {
        flex: 1;
    }

    .box-button {
        width: 150px;
    }

    .container-column-custom {
        margin-right: 5%;
    }

    .formfield:first-child {
        margin-top: 10px;
    }

    .formfield {
        width: 190px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    .container-narrow-custom {
        margin: 0 5%;
        width: 100%;
    }

    .container-large-custom {
        width: 100%;
        margin: 15px 5% 0;
    }

    .container-widgets-custom {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .container-column-custom,
    .box-button,
    .box-dark-element-custom,
    .container-row-custom,
    #timepicker-form,
    .formfield {
        width: 100%;
    }

    .formfield {
        margin: 5px 0;
    }

    .button-small-custom {
        width: 100%;
    }
}

.container-custom {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 6.5rem;
    padding-bottom: 60px;
    justify-content: space-evenly;
    position: relative;
}

.container-main-custom {
    display: flex;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
}

.input-custom:focus, .input-custom:focus-visible, .textarea-custom:focus, .textarea-custom:focus-visible {
    border: 1px solid #888888;
    box-shadow: 0 0 0 0.125em rgba(196, 126, 126, 0.25);
    outline: none;
}

.input-custom {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    width: 100%;
    background-color: #fff;
    /*border-color: #dbdbdb;*/
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    position: relative;
    vertical-align: top;
}

.img-rounded {
    border-radius: 50%;
}

.img-fixed-size {
    width: 300px;
    max-height: 300px;
}

.add-photo-img {
    z-index: 50;
    margin-bottom: 3rem;
}

.photo-container:hover .profile-photo {
    filter: brightness(0.75);
    transition-duration: 0.1s;
}

input[type="file"] {
    width: 70%;
    height: 60%;
    opacity: 0; /* make transparent */
    z-index: 50; /* move under anything else */
    position: absolute; /* don't let it take up space */
    top: 10%;  /* position the top  edge of the element at the middle of the parent */
    /*left: 75%; !* position the left edge of the element at the middle of the parent *!*/
    /*transform: translate(-50%, -50%);*/
}

/*input[type="file"]:hover {*/
/*    background-color: rgba(10 10 10 / 10%);*/
/*    opacity: 1;*/
/*    border-radius: 50%;*/
/*    color: rgba(0 0 0 / 0);*/
/*}*/

.add-form-button-container {
    display: flex;
    justify-content: space-evenly;
}

.add-form-button {
    margin: 1rem;
}

.photo-button {
    display: none;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.photo-container:hover .photo-button {
    display: block;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 2px;
    border-radius: 6px;
    color: #363636;
    cursor: pointer;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
}
.add-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 40;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
}


.add-form-photo-dark-frame {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 40;
    top: 55%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);

    background-color: #D9D9D9;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
}

.box-dark-element-custom {
    background-color: #D9D9D9;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 0.1%);
    color: #4a4a4a;
    display: block;
    /*padding: 0.5rem;*/
    margin: 10px 0;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
}

.max-width-90 {
    max-width: 90%;
}

.width-100 {
    width: 100%;
}

.box-invisible-custom {
    background-color: transparent;
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin: 5px 0;
}

.box-invisible-price-custom {
    background-color: transparent;
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 0.75rem 1rem;
    /*margin: 5px 0;*/
}

.br {
    border-top: solid #D9D9D9 1px;
    margin: 20px 0;
}

.container-margin-top {
    margin-top: 1rem;
}

.container-row-custom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container-margin-top-bottom {
    margin: 0.5rem 0;
}

.container-column-custom {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-bottom: 15px;
}

.box-stretched-custom {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
    height: 100%;
}

.container-time-custom {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 100%;
}

.box-time-custom {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
    margin-bottom: 10px;
}

.is-aligned-center {
    display: flex;
    align-items: center;
}

.is-justified-center {
    display: flex;
    justify-content: center;
}

.box-button {
    background-color: #fff;
    border-radius: 6px;
    border-color: #D9D9D9;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 0.5rem;
    margin: 8px 0;
    font-size: medium;
}

.box-button:hover, .button-plus-minus-large:hover {
    background-color: #D9D9D9;
    cursor: pointer;

}

button:focus, button:focus-visible,
.button-plus-minus:focus, .button-plus-minus:focus-visible,
.button-plus-minus-large:focus, .button-plus-minus-large:focus-visible,
.box-button:focus-visible, .box-button:focus {
    outline: none;
}

.link-button {
    border: 2px solid #D9D9D9;
    /*box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);*/
    background-color: #fff;
    border-bottom-color: #888888;
    border-right-color: #888888;
    border-radius: 6px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.link-button:hover {
    color: #363636;
    /*box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);*/
}

.button-plus-minus {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 2px;
    border-radius: 6px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
    white-space: nowrap;
}

.button-large-custom {
    min-height: 40px;
    width: 100%;
}

.button-small-custom {
    min-height: 50px;
    min-width: 50px;
    margin-left: 5px;
}

.save-button-container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-contacts {
    margin: 20px 0;
}

.container-button-custom {
    margin: 0 0.5rem;
}

.delete-form-container {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}

.button-delete-form-container {
    display: flex;
    flex-direction: row;
}

.text-delete-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.textarea-custom {
    display: block;
    padding: calc(0.75em - 1px);
    resize: vertical;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    align-items: center;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    min-height: 200px;
}

.select-custom select {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    position: relative;
    vertical-align: top;
    appearance: none;
    width: 100%;
}

.select-custom select:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
}

.container-subjects {
    margin-bottom: 20px;
}

.items-aligned-center {
    align-items: center;
}

.timepicker {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    gap: .5rem;
    margin: 15px 0;
}

.formfield {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    height: 44px;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 4px 12px;
}

.timepicker label{
    color: #666;
}

.timepicker input{
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    accent-color: red;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(107%) hue-rotate(130deg) brightness(95%) contrast(20%);
}

#timepicker-form {
    display: none;
    flex-direction: column;
    align-items: center;
}

.price {
    margin-left: 10px;
}

.hidden-custom {
    display: none;
}

.weekday-selected {
    background-color: #D9D9D9;
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track  {
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #E8E8E8;
    border-radius: 20px;
    border: none;
}

.box-small-dark-custom {
    background-color: #D9D9D9;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 0.1%);
    color: #4a4a4a;
    padding: 0.25rem;
    flex-shrink: 1;
}

.role-container-custom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-check-custom {
    margin-left: 1rem;
    accent-color: #dc3545;
}

#overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bold {
    font-weight: 600;
}

.main-form {
    margin-bottom: 0;
}

.round-corners {
    border-radius: 18px !important;
}

.cards-background {
    background-color: rgb(232, 155, 100) !important;
}

.hidden {
    display: none !important;
}