@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/*@import 'normalize.css';*/

@media screen and (max-width: 900px) {
    .header__links-item {
        font-size: 12px;
    }

    .header__container {
        justify-content: space-evenly;
    }

    .footer__content {
        justify-content: center;
    }
}

@media screen and (min-width: 900px) {
    .header__links-item {
        font-size: 15px;
    }

    .header__container {
        justify-content: space-between;
    }

    .footer__content {
        justify-content: space-between;
    }
}

.main-container-header {
    background-color: rgba(113, 3, 3, 0.06);
}

.navbar-brand-custom {
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    align-items: stretch;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    min-height: 3.25rem;
    position: relative;
    z-index: 30;
}

.navbar {
    border-bottom: 2px solid #710303;
}

.nav-link{
    color: #000000 !important;
}

.link {
    color: #710303;
}

.footer-custom {
    /*background-color: #fafafa;*/
    padding: 2rem 6rem;
    background-color: rgba(242, 84, 63, 0.5);
}

.navbar-brand {
    align-items: center;
}

html{
    display: flex;
    justify-content: center;
}

body{
    width: 100vw;
}


.link{
    cursor: pointer;
}

/*.link:hover{*/
/*    text-decoration: underline;*/
/*}*/

.container {
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header__other {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #923329;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: aliceblue;
    padding: 15px 0;
    background-color: #710303;
}

.header__container{
    display: flex;
    align-items: center;
}

.header__mainLink{}

.header__links-item{
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
}

/*.header__links-item:hover{*/
/*    text-decoration: underline;*/
/*}*/

.header__links-item + .header__links-item{
    margin-left: 10px;
}

.footer__main{
    background-color: #2b2f33;

    min-height: 250px;
    width: 100%;
}

.footer__content{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.footer__content-row{
    display: flex;
    flex-direction: column;
}

.footer__content-link{
    display: inline-block;

    margin-top: 15px;

    font-size: 15px;
    color: rgba(255,255,255,0.6);
}

.footer__content-link + .footer__content-link{
    margin-top: 15px;
}

.footer__content-category{
    font-weight: bold;
    font-size: 18px;
    color: #c3c9ce;
}

.footer__content-address{
    display: flex;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover {text-decoration: none;}
a:active { text-decoration: none; }

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
}

.hidden {
    display: none !important;
}