@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


@media screen and (min-width: 900px) {
    .container-main-body-custom {
        display: flex;
        flex-direction: row;
    }

    .not-found-container {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popup-message-custom {
        position: fixed;
        z-index: 100;
        bottom: 70px;
        right: 70px;
    }
}
@media screen and (max-width: 900px) {
    .container-main-body-custom {
        display: flex;
        flex-direction: column;
    }

    .search-custom {
        margin-top: 2rem;
        display: flex;
        flex-direction: row !important;
        justify-content: space-evenly;
    }

    .search-input-custom {
        max-width: 75% !important;
    }

    .container-fluid-custom {
        padding-left: 15px;
    }

    .sidebar {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .message-header-custom {
        border-top-left-radius: 12px;
    }

    .message-body-custom {
        border-bottom-left-radius: 12px;
    }
    .not-found-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-message-custom {
        position: fixed;
        z-index: 100;
        bottom: 20px;
        right: 20px;
        margin-left: 20px;
    }
}

.not-found-text {
    font-size: 24px;
    font-weight: 500;
}

.container-margin-top {
    margin-top: 3rem;
}

.main-container-custom {
    margin-top: 4.25rem;
    padding-top: 30px;
    padding-bottom: 40px;
}

.container-row-custom {
    display: flex;
    flex-direction: row;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.is-justified-center {
    display: flex;
    justify-content: center;
}

.container-column-custom {
    display: flex;
    flex-direction: column;
}

.container-fluid-custom {
    width: 100%;
    padding-right: 15px;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.sidebar {
    /*border-bottom: 2px solid #710303;*/
    /*border-right: 2px solid #710303;*/
    /*border-top: 2px solid #710303;*/
    background-color: rgba(227, 98, 29, 0.45);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: inset -10px 10px 15px 0 rgba(255, 255, 255, 0.4),
    -7px 10px 5px 5px rgba(54, 54, 54, 0.2);
    padding: 0 20px;
}

.dropdown-custom {
    display: inline-flex;
    position: relative;
    vertical-align: top;
    width: 100%;
}

.is-invalid {
    border-color: #710303;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.btn-secondary {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
    width: 100%;
}

.w-47 {
    width: 47% !important;
}

.w-94 {
    width: 94% !important;
}

.pl-0-3-rem {
    padding-left: 0.3rem !important;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
    color: #333;
    border-color: #bbb;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: none;
    border-color: #aaa;
}

.message-header-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 76, 0);
    border-top-right-radius: 12px;
    height: 3rem;
    color: rgb(128, 45, 0);
    font-size: 20px;
    font-weight: 600;
}

.message-body-custom {
}

.sub-message-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.br-message {
    width: 90%;
    margin: 0 5%;
    border-top: 1px solid rgb(153, 61, 0);
}

.padding-1 {
    padding: 1rem !important;
}

.mt-5-custom {
    margin-top: 5rem !important;
}

.img-rounded {
    border-radius: 50%;
}

.img-fixed-size {
    width: 12rem;
    height: 12rem;
}

.icon-custom {
    max-width: 18px;
    max-height: 18px;
    margin-right: 0.25rem;
}

.subjects-ed-format-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 45%;
}

.city-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #923329;
    border-radius: 12px;
    padding: 0.5rem;
    color: #D9D9D9;
}

.cards-container {
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.card-main-info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 0 auto;
    /*padding: 0.75rem 1.5rem;*/
    width: 100%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
}

.card-box-container-custom {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 15%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    padding: 1.25rem;
    max-width: 20rem;
    height: 100%;
    margin-bottom: 1rem;
    width: 100%;
}

.card-link-container-custom {
    flex: 1 0 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-box-container-custom:hover {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 40%), 0 0 0 1px rgb(10 10 10 / 1%);
    transition-duration: 0.3s;
}

.container-card-main-info-custom {
    display: flex;
    flex-direction: column;
    height: 380px;
}

.container-subjects {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.card-text-container {
    border-radius: 12px;
    background-color: rgba(211, 83, 0, 0.7);
    width: 100%;
    flex: 1 1 40%;
}

.card-text-custom {
    margin: 1rem;
}

.box-dark-element-custom {
    background-color: #D9D9D9;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 0.1%);
    color: #4a4a4a;
    padding: 0.5rem;
    margin: 0.25rem 0.5rem 0 0;
}

.box-darker-element-custom {
    background-color: #464646;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 0.1%);
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem 0.5rem 0 0;
}

.br {
    border-top: solid #D9D9D9 1px;
    margin: 20px 0;
}

.vbr {
    border-left: solid #D9D9D9 1px;
    margin: 0 0.5rem;
    height: 100%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.form-check-custom {
    margin-left: 1rem;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 20px;
    border: none;
}

.pagination-link.is-current-custom {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.card-title-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 1rem;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
}

#popup-delete-button:focus, #popup-delete-button:focus-visible {
    outline: none;
}